.RecMovies {
    width:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.RecMovies form {
    width:90%;
    height:5vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top:30px;
    background: #090b13;
    border: 4px rgba(249,249,249, 0.1) solid;
}
.RecMovies form input {
    width:95%;
    outline:none;
    color: #fff;
    background: #090b13;
    padding-left: 5px;
    border:none;
    height:100%;
}
.RecMovies form button {
    height:100%;
    padding:5px;
    width:5%;
    min-width:50px;
    background:#333;
    border: none;
    color:#fff;
    cursor: pointer;
    outline:none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.RecMovies .movies-cont {
    margin-top:40px;
    width:90%;
    display:grid;
    grid-column-gap: 25px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(4, 200px);
    place-content: center;
}
.RecMovies .movies-cont div {
    height:300px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    cursor: pointer;
    transition:250ms;
}
.RecMovies .movies-cont div:hover {
    scale:1.05;
}
.RecMovies .movies-cont div img {
    width:100%;
    height:250px;
    object-fit: fill;
}
.RecMovies .movies-cont div p {
    color:#fff;
    font-weight: bold;
    font-size: 17px;
    margin-top:10px;
    text-align: center;
    max-width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.RecMovies .movies-cont div:last-child {
    border-bottom:20px transparent solid;
}
.movie-cont {
    width:100vw;
    height:100vh;
    background: rgba(0, 0, 0, 0.8);
    color:#fff;
    position:fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:100;
}
.movie-cont .cover {
    width:300px;
    height:400px;
}
.actions-cont {
    width:350px;
    display:flex;
}
.actions-cont button {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:40px;
    cursor: pointer;
    border:none;
    outline:none;
}
.actions-cont button:nth-child(1) span {
    font-size: 40px;
    font-weight: bold;
    margin-right:3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions-cont button:nth-child(1) span.active {
    translate: 0 -3px;
}

.actions-cont button:nth-child(1) {
    font-size: 13px;
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
    background:#fff;
}
.actions-cont button:nth-child(1) span {
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.actions-cont button:nth-child(2) {
    background:#222222;
    color:#fff;
    margin-left:10px;
}
.actions-cont button:nth-child(3) {
    margin-left:50px;
    font-size: 18px;
    font-weight: bold;
    background:transparent;
    color:#fff;
    border:3px #fff solid;
}
.staff-wrapper {
    margin-left:25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.movie-title {
    font-size: 22px;
    font-weight: bold;
}
.info {
    display:flex;
    flex-direction: column;
    width:400px;
    height:200px;
    margin-top: 20px;
}
.span {
    color: rgb(255, 171, 15);
    font-weight:bold;
}
.youtube {
    width:100vw;
    height:100vh;
    background: rgba(0, 0, 0, 0.8);
    color:#fff;
    position:fixed;
    top:0;
    left:0;
    display: flex;
    z-index:1000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: fill !important;
}
.back {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:40px;
    cursor: pointer;
    border:none;
    outline:none;
    background:transparent;
    color:#fff;
    border:3px #fff solid;
}
.vid {
    width:max(500px, 70%);
    height:max(300px, 70%);
    object-fit: fill;
}

@media (max-width:930px) {
    .RecMovies .movies-cont {
        grid-template-columns: repeat(2, 250px);
    }
    .RecMovies .movies-cont div img {
        height:200px;
    }
} 
@media (max-width:700px) {
    .RecMovies .movies-cont {
        grid-template-columns: repeat(1, 350px);
    }
}
@media(max-width:768px) {
    .movie-cont {
        flex-direction: column;
    }
    .movie-title {
        text-align: center;
        margin-top:5px;
        translate: -2px;
    }
}
@media(max-width:450px) {
    .staff-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .movie-cont {
        margin:5px;
        margin-top:12px;
        font-size: 12px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:90% !important;
    }
    .actions-cont {
        margin-left:10px;
        width:100%;
    }
    .actions-cont button {
        width:80px !important;
        font-size: 12px;
    }
    .actions-cont button:nth-child(2) img {
        width:40%;
    }
    .actions-cont button:nth-child(1) p {
        font-size: 11px;
    }
    .info {
        width:350px;
        margin-left:10px;
        width:100%;
    }
    .info * {
        width:90%;
    }
}
